/*-- scss:defaults --*/

// scss-docs-start theme-color-variables

// $primary: #444492;
$primary: #23004C;
// $secondary: #444492;
$secondary: #7A00E6;
$navbar-fg: #ffffff ;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

/*-- scss:rules --*/